@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }

header {
  background: rgb(241, 214, 230);
  position: relative;
}

body {
    height: 100%;
  }
  
  #wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }

section {
  background: #FFF;
  padding: 20px;
}

.container{
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    flex-direction: row-reverse;   
  }

  /* 
  .column-img {
    flex: 1;
  }
  
  .column-text {
    flex: 2;
  }
   */

   #navBtn:checked + .open span,
#navBtn:checked + .open::before,
#navBtn:checked + .open::after {
  border-bottom-color: #EEE;
}


header h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    /* display: inline-block; */
  margin: 0 10px;
  padding: 10px 0;
  }
  
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #EEE;
  }

main {
    grid-template-columns: 1fr;
    padding: 1rem;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
  }

footer {
  background: #333;
  color: #FFF;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/*
.sec01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.sec02 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.sec03 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
*/

nav {
    /* display: none; */
    height: 100vh;
    width: 300px;
    position: absolute;
    top: 0;
    right: -300px;
    z-index: 50;
    background-color: rgba(0, 0, 0, .5);
    transition: transform .5s;
}

#navBtn:checked ~ nav {
  display: block;
  transform: translateX(-300px);
}

#navBtn {
  display: none;
}

.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 2px;
}

/*humburger button*/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #333;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/*close button*/
#navBtn:checked + .open {
  background: #555;
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}

/*タブレット用*/
@media all and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/*コンピュータ用*/
@media all and (min-width: 1025px) {
  nav {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    color: #333;
  }
  
  #navBtn,
  .open {
    display: none;
  }
  header h1 {
    
    font-size: 4rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }

  .sec01 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .sec02 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .sec03 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

